@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

.App {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

.body {
    max-width: 1170px;
    margin: auto;
}

.topbar {
    position: sticky;
    top: 0;
    padding: 20px 15px;
    font-family: 'lexend', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 500;
}

.topbar.active {
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);

}

.topbarLogo {
    margin-left: 15px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.topbarLink {
    display: flex;
    margin-right: 15px;
    list-style: none;
}

.topbarLink li {
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 20px;
}

.topbarLink li::after {
    content: "";
    background-color: white;
    width: 0%;
    height: 1px;
    margin: auto;
    display: block;
    transition: .5s;
}

.topbarRight ul li:hover::after {
    width: 100%;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh);
}

.homeTitle {
    font-family: 'Raleway',
        sans-serif;
    color: white;
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.create {
    padding: 30px;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-around;
    font-family: 'Lexend',
        sans-serif;
    font-weight: 400;
    color: white;
    gap: 30px;
    flex-wrap: wrap;
}

.pages {
    min-height: calc(100vh - 100px);
    padding: 80px;
    color: white;
}

.link {
    text-decoration: none;
    color: inherit;
}

.createTitle {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.createSelect {
    border: none;
    outline: none;
    border-radius: 15px;
    height: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Roboto';
    background-color: transparent;
    color: white;
    margin-left: 10px;
}

.createSelect option {
    background: transparent;
    border-radius: 5px;
    color: black;

}

.createForm {
    height: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.createForm label {
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;

}

.createLeft,
.createRight {
    background-color: #505050;
    flex: 1;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    margin: auto;
    height: 60%;
}

.createInput {
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    height: 40px;
    outline: none;
    color: white;
    padding-left: 10px;
    background-color: rgba(128, 128, 128, 0.534);

}

.createInput::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}

.createButton {
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
}

.showTitle {
    color: white;
    text-transform: uppercase;
}

.TableTitle {
    color: white;
    margin-left: 15px;
    text-transform: uppercase;
}

.BookTable {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.showMentor,
.showStudent {
    background-color: #505050;
    flex: 1;
    border-radius: 10px;
    padding: 15px;
    height: 600px;
}

.showMentorList,
.showTable {
    padding: 0;
    overflow-y: auto;
    height: 500px;
    scroll-behavior: smooth;
    border-radius: 10px;
}

.showMentorList::-webkit-scrollbar,
.showTable::-webkit-scrollbar {
    width: 10px;
}

.showMentorList::-webkit-scrollbar-track,
.showTable::-webkit-scrollbar-track {

    background-color: rgba(255, 255, 255, 0.137);
    border-radius: 100px;
}

.showMentorList::-webkit-scrollbar-thumb,
.showTable::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.315);
    border-radius: 100px;
}

.showMentorList li {
    list-style: none;
    padding: 10px;
    margin: 10px 20px;
    background-color: rgba(255, 255, 255, 0.137);
    color: white;
    border-radius: 10px;
    transition: all .6s ease;
}

.showMentorList li:hover {
    background-color: rgba(255, 255, 255, 0.315);
    transition: all .6s ease;
}

.assign {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.assignContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.assignStudent,
.assignMentor {
    flex: 1;
    background-color: #505050;
    border-radius: 10px;
    height: 60vh;
}

.assignMentorList,
.assignStudentList {
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 70px;
}

.assignTitle {
    text-transform: uppercase;
    text-align: center;
}

.assign .assignButton,
.assign .assignButton:hover {
    background-color: white;
    font-size: 17px;
    font-weight: 600;
    width: 30%;
    margin-top: 20px;
    align-self: center;
}

.updateIcon {
    color: #afafaf;
    font-size: 18px !important;
}

.updateMentor {
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 70px;
}

.updateMentor ul {
    list-style: none;
    padding: 0;
}

.updateMentor ul li {
    text-align: center;
}

.update {
    display: flex;
    flex-direction: column;
}

.update .updateButton,
.update .updateButton:hover {
    background-color: white;
    font-size: 17px;
    font-weight: 600;
    width: 30%;
    margin-top: 20px;
    align-self: center;
}